[flake8]
exclude =
    .git,
    __pycache__,
    build,
    .venv,
    venv, 
    .conda
max-complexity = 10
# Black's PEP 8-compliant slice formatting conflicts with pycodestyle E203.
extend-ignore = E203
